<div class="min-h-screen bg-[#FAF8F5]">

  <main class="max-w-md mx-auto">

    <div class="rounded-2xl bg-white p-8 shadow-sm">
      <h2 class="mb-8 text-center text-2xl font-bold text-stone-700">
      おくすりの記録
      </h1>

      <%= form_with model: @medication_record, local: true do |f| %>

        <div class="mb-8">
          <p class="mb-2 text-stone-700">服薬</p>

          <div class="space-y-2">

            <label class="flex items-center gap-2">
              <%= f.radio_button :status, "taken" %>
              飲めた
            </label>

            <label class="flex items-center gap-2">
              <%= f.radio_button :status, "missed" %>
              飲めなかった
            </label>

          </div>
        </div>

        <%= f.submit "保存",
            class: "w-full rounded-full bg-orange-100 py-4 text-lg text-stone-700 shadow hover:bg-orange-200 transition" %>

      <% end %>

    </div>

  </main>

</div>
