<% if resource.errors.any? %>
  <div
    class="mb-6 rounded-xl border border-red-200 bg-red-50 px-4 py-3 text-center text-red-700 shadow-sm">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>