<header class="flex items-center justify-between px-6 py-6">

  <%= link_to "ホーム", home_path,
    class: "rounded-full border border-orange-200 px-4 py-2 text-sm text-stone-600 hover:bg-orange-100 transition" %>

  <h1 class="text-2xl md:text-3xl font-bold text-stone-700">
    こころきろく
  </h1>

    <%= link_to "ログアウト",
    destroy_user_session_path,
    data: { turbo_method: :delete },
    class: "rounded-full border border-orange-200 px-4 py-2 text-sm text-stone-600 hover:bg-orange-100 transition" %>

</header>