<div class="min-h-screen bg-[#FAF8F5]">

  <main class="max-w-3xl mx-auto px-6 py-10">

    <%= link_to "← ホームへ",
                root_path,
                class: "text-stone-500 hover:text-orange-600" %>

    <div class="mt-6 rounded-2xl bg-white p-10 shadow-sm">

      <h1 class="mb-8 text-center text-3xl font-bold text-stone-700">
        お問い合わせ
      </h1>

      <p class="text-center text-stone-700 leading-8">
       「こころきろく」をより良いサービスにするため<br>
        ご意見・ご要望・不具合などがございましたら<br>
        お気軽にお問い合わせください。
      </p>

      <div class="mt-10 text-center">

        <%= link_to "お問い合わせフォームへ",
                    "#",
                    class: "inline-block rounded-full bg-orange-100 px-8 py-3 text-stone-700 shadow hover:bg-orange-200 transition" %>

      </div>

    </div>

  </main>

</div>